@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
:root {
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
}
body{
    min-width: 90%;
    cursor: default;
}
.inner {
    width: 95%;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: #000;
}

body > .inner > a{
    display: block;
    background: url(../subimages/verticallogo_black.png) 0 0 no-repeat;
    background-size: contain;
    width: 45px;
    height: 210px;
    text-indent: -9000px;
    position: fixed;
    left: 80px;
    top: 120px;
    z-index: 20;
}

/*navigation */
nav ul{
    list-style: none;
}
nav{
    width: 100%;
    min-width: 700px;
    height: 80px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}
nav .menu{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #fff;
    padding-top: 10px;
    border-bottom: 1px solid #ccc;
}
nav .menu > li{
    height: 68px;
    line-height: 68px;
}                   
nav .menu > li > a{
    font-size: 1.7rem;
    font-weight: 500;
    color: #000;
    width: auto;
    margin: 0 50px 0 50px;
    position: relative;
    text-align: center;
}
nav .menu > li > a:hover{
    color: #c60d41;
}
nav .menu > li:nth-child(2) > a{
    display: block;
    background: url(../images/circle_logo.png) 0 0 no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
}
nav .menu .submenu,
nav .menu .brandmenu{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #fff;
    display: none;
}
nav .menu > li:hover .submenu,
nav .menu > li:hover .brandmenu{
    display: flex;
}
nav .menu .submenu > li,
nav .menu .brandmenu > li{
    width: 15%;
    text-align: center;
}
nav .menu .submenu > li > a,
nav .menu .brandmenu > li > a
{
    font-size: 1.4rem;
    font-weight: 400;
    color: #000;
    /* width: 200px; */
}
nav .menu .submenu > li > a:hover,
nav .menu .brandmenu > li > a:hover{
    color: #c60d41;
}
nav .menu .submenu .submenu_first,
nav .menu .brandmenu .submenu_first{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    position: absolute;
    top: 101%;
    left: 0;
    width: 100%;
    height: 58vh;
    background: rgba(255, 255, 255, 1);
    display: none;
    border-bottom: 1px solid #ccc;
}
nav .menu .submenu li:first-child .submenu_first,
nav .menu .submenu li:nth-child(2) .submenu_first,
nav .menu .submenu li:nth-child(3) .submenu_first{
    height: 35vh;
}
nav .menu .submenu li:nth-child(4) .submenu_first{
    height: 9vh;
}
nav .menu .submenu:last-child .submenu_first{
    height: 9vh;
}
nav .menu .brandmenu li:nth-child(2) .submenu_first{
    height: 35vh;
}
nav .menu .brandmenu li:last-child .submenu_first{
    height: 55vh;
}
nav .menu .submenu > li:hover .submenu_first,
nav .menu .brandmenu > li:hover .submenu_first{
    display: flex;
}
nav .menu .submenu .submenu_first > li,
nav .menu .brandmenu .submenu_first > li
{   width: 15%;
    height: 60px;
    line-height: 60px;
    padding-top: 15px;
}
nav .menu .submenu .submenu_first > li > a{
    font-size: 1.3rem;
    font-weight: 400;
    color: #262626;
}
nav .menu .submenu .submenu_first > li > a:hover{
    color: #c60d41;
}
nav .menu .brandmenu li:first-child .submenu_first{
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
nav .menu .brandmenu .submenu_first > li{
    height: 40px;
    line-height: 40px;
}
nav .menu .brandmenu .submenu_first > li > a{
    font-size: 1.1rem;
    font-weight: 400;
    color: #202020;
}
nav .menu .brandmenu .submenu_first > li > a:hover{
    color: #c60d41;
}
nav .menu .submenu .submenu_first .submenu_second,
nav .menu .brandmenu .submenu_first .submenu_second{
    width: 15%;
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    top: 50px;
}
nav .menu .brandmenu .submenu_first .submenu_second{
    width: 12.5%;
}
nav .menu .brandmenu li:last-child .submenu_first .submenu_second{
    width: 14.5%;
}
nav .menu .submenu .submenu_first .submenu_second > li,
nav .menu .brandmenu .submenu_first .submenu_second > li{
    width: 100%;
    height: 30px;
    padding-top: 20px;
}
nav .menu .submenu .submenu_first .submenu_second > li > a,
nav .menu .brandmenu .submenu_first .submenu_second > li> a{
    font-weight: 400;
    color: #303030;
    height: 40px;
    line-height: 40px;
}
nav .menu .submenu .submenu_first .submenu_second > li > a:hover,
nav .menu .brandmenu .submenu_first .submenu_second > li> a:hover{
    color: #c60d41;
}
nav .menu .submenu .submenu_first .submenu_second > li > a{
    font-size: 1rem;
}
nav .menu .brandmenu .submenu_first .submenu_second > li> a{
    font-size: 1rem;
}
nav .menu .submenu li:first-child .submenu_first > li:first-child::before,
nav .menu .submenu li:nth-child(2) .submenu_first > li:first-child::before,
nav .menu .submenu li:nth-child(3) .submenu_first > li:first-child::before{
    display: block;
    content: "";
    width: 220px;
    height: 200px;
    position: absolute ;
    left: 60px;
    top: 60px;
    z-index: 0;
}
nav .menu .submenu li:first-child .submenu_first > li:first-child::before{
    background: url(../images/companypic2.png) 0 0 no-repeat;
    background-size: contain;
}
nav .menu .submenu li:nth-child(2) .submenu_first > li:first-child::before{
    background: url(../images/graph.png) 0 0 no-repeat;
    background-size: contain;
    position: absolute;
    left: 100px;
    width: 230px;
    height: 210px;
}
nav .menu .submenu li:nth-child(3) .submenu_first > li:first-child::before{
    background: url(../images/hands.png) 50% 0 no-repeat;
    background-size: contain;
    position: absolute ;
    left: 220px;
    border: 1px solid #ccc;
}
.searching{
    position: fixed;
    right: 5%;
    top: 20px;
    z-index: 10000;
}
.searching > form{
    display: inline-block;
    margin-right: 6px;
}
.searching > form > input{
    height: 25px;
}
.searching > span{
    cursor: pointer;
}
.searching > span > i{
    font-size: 1.3rem;
    color: #404040;
}