body{
    min-width: 320px;
}
.inner{
    width: 93%;
}

/*lg 로고 */
body > .inner > a{
    background: url(../images/horizontal_logo.png) 0 0 no-repeat;
    width: 170px;
    height: 50px;
    background-size: contain;
    left: 10px;
    top: 30px;
}
body > .inner > a.on{
    display: none;
}

/*m_menu*/
body > .inner .mallbar{
    display: block;
    font-size: 2.1rem;
    color: #fff;
    position: fixed;
    right: 10px;
    top: 5px;
    z-index: 100;
}
body > .inner .mallbar.on{
    color: #c60d41;
}

.intro .inner .introduction a,
.intro2 a,
.intro3 a,
.hr > a,
.investment > a{
    display: block;
    width: 130px;
    height: 55px;
    line-height: 45px;
    font-size: 1.2rem;
}

/* script editing */
.swiper-container-vertical > .swiper-pagination-bullets {
    right: 10px;
}
.swiper-container-vertical > .swiper-pagination-bullets::before{
    display: none;
    
}.swiper-button-prev{
    display: block;
}
.swiper-button-next{
    display: block;
    right: 8px;
}


/* mobile navigaition */
.mnav{
    display: block;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: auto;
    display: none;
}
.mnav.on{
    display: block;
}
.mnav ul{
    list-style: none;
}
.mnav .m_menu .depth1 .mnav_logo{
    display: inline-block;
    background: url(../images/circle_logo.png) 0 0 no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 10px 0 10px;
}
.mnav .m_menu{
    width: 100%;
    height: 85vh;
    background-color: #fff;
    overflow-y: scroll;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding-top: 20px;
}
.mnav .m_menu .depth1{
    width: 100%;
    height: auto;
    text-align: center;
}
.mnav .m_menu .depth1 > a{
    font-size: 1.2rem;
    font-weight: 400;
}
.mnav .m_menu .depth1 .m_menu_1{
    margin: 10px 0 10px 0;
}
.mnav .m_menu .depth1 .m_menu_1 .depth2 > a{
    font-size: 1rem;
    font-weight: 300;
}
.mnav .m_menu .depth1 .m_menu_1 > .depth2 > a.on{
    color: #c60d41;
}
.mnav .m_menu .depth1 .m_menu_1 .depth2{
    height: auto;
}
.mnav .m_menu .depth1 .m_menu_1 .depth2 .m_menu_2,
.mnav .m_menu .depth1 .m_menu_1 .depth2 .m_menu_2_1{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.mnav .m_menu .depth1 .m_menu_1 .depth2 .m_menu_2 .depth3 > a,
.mnav .m_menu .depth1 .m_menu_1 .depth2 .m_menu_2_1 .depth3 > a{
    font-size: 0.9rem;
    font-weight: 300;
}
/* brand arrange */
.mnav .m_menu .depth1:last-child .m_menu_1 .depth2:first-child .m_menu_2{
    display: flex;
    flex-flow: row wrap;
}
.mnav .m_menu .depth1:last-child .m_menu_1 .depth2:first-child .m_menu_2 > li{
    width: 50%;
}
.mnav .m_searching{
    display: flex;
    justify-content: space-between;
    width: 67%;
    font-size: 2rem;
    color: #c60d41;
    padding-top: 10px;

}
.fa, .fas {
    font-family: "Font Awesome 5 Pro";
    font-weight: 500;
    padding-top: 15px;
}
.mnav .m_searching .lang{
    display: inline-block;
    border: 1px solid #c60d41;
    margin: 0 3px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 0.9rem;
    text-align: center;

}








/* pc navigation */
nav{
    display: none;
}



/* intro*/
.intro .inner .introduction h1{
    font-size: 1.3rem;
    letter-spacing: 0;
}
.intro .inner .introduction h1:first-child{
    font-size: 2.6rem;
    text-shadow: none;
    letter-spacing: -2px;
}
.intro .inner .introduction p{
    display: none;
}


/* intro2 */
.intro2{
    background-position: 40% 70%;
}
.intro2 h1{
    font-size: 2.6rem;
    text-shadow: none;
    padding: 0 20px 0 20px;
}
.intro2 h1 + h1{
    font-size: 1rem;
    margin-bottom: 40px;
}
.intro2 p{
    display: none;
}

/* intro3 */
.intro3{
    background: url(../images/hanriver.jpg) 40% 20% no-repeat;
}
.intro3 h1{
    font-size: 2.6rem;
    text-shadow: none;
    padding: 0 20px 0 20px;
}
.intro3 p{
    display: none;
}
.intro3 .companypic{
    width: 200px;
    height: 200px;
    right: 5%;
    bottom: 11%;
    background-color: rgb(0, 0, 0, 0.2);
    background-blend-mode: multiply;
}


/* business part */
section.business{
    background-position: 45% 40%;
}
.business h2{
    font-size: 2.6rem;
}
.business .box{
    width: 100%;
    margin-top: 20px;
    padding-top: 0;
    position: static;
    display: flex;
    flex-flow: row nowrap;
    overflow-x: auto;
    flex-basis: 300px;
    width: 78%;
}
.business .wrapper{
    width: 100%;
    height: 300px;
    flex-shrink: 0;
}   
.business .wrapper:first-child,
.business .wrapper:last-child{
    position: static;
}
.business .wrapper:nth-child(2){
    position: static;
}
.business .box .wrapper .subbox.maincircle{
    width: 250px;
    height: 250px;
}
.business .box .wrapper > p{
    display: none;
}
.business .box .wrapper .subbox.maincircle > div:first-child > span:first-child{
    font-size: 2.2rem;
}
.business .box .wrapper .subbox.maincircle > div:first-child > span:last-child{
    font-size: 1.5rem;
}
.business .box .wrapper .subbox.maincircle > div:last-child > span:first-child{
    font-size: 3rem;
}
.business .box .wrapper .subbox.maincircle > div:last-child > span:last-child{
    font-size: 1.3rem;
}
.business .box .wrapper .subbox.maincircle > div:last-child > span:last-child::before{
    width: 50px;
    height: 75px;
}
.business .box .wrapper:first-child .subbox.maincircle > div:last-child > span:last-child::before{
    bottom: 23px;
}
.business .box .wrapper:nth-child(2) .subbox.maincircle > div:last-child > span:last-child::before{
    bottom: 25px;
}
.business .box .wrapper:last-child .subbox.maincircle > div:last-child > span:last-child::before{
    bottom: 21px;
}


/* investment part */
section.investment{
    background-position: 80% 40%;
    justify-content: center;
}
.investment h2{
    font-size: 2.5rem;
    padding-top: 65px;
    margin-bottom: 10px;
}
.investment .box{
    width: 250px;
}
.investment .box .subbox.description{
    width: 250px;
    height: 300px;
}
.investment .box .subbox.description p{
    font-size: 1.5rem;
}
.investment .box .subbox.description span:first-of-type{
    margin-bottom: 10px;
}
.investment .box .subbox.description span{
    font-size: 0.9rem;
    margin-bottom: 30px;
}
.investment > p {
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
}
.investment > a{
    width: 150px;
    height: 50px;
    line-height: 45px;
    font-size: 1.2rem;
}
.investment .box .subbox.description p.mark::before{
    width: 120px;
    height: 120px;
    left: 25%;
    top: 15px;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet{
    margin: -5px 4px;
}

/* news part */
.news h2{
    font-size: 2.5rem;
    margin: 50px 0 5px;
}
.news .box .subbox{
    width: 20%;
    height: 200px;
}
.news .box .subbox{
    height: 250px;
}
.news .box .subbox .image{
    width: 100%;
    height: 180px;
}
.news .box .subbox > p {
    font-size: 1rem;
    margin-top: 5px;
}
.news .clip{
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
    width: 100%;
}
iframe{
    display: none;
}
.news .clip .subbox{
    width: 100%;
}
.news .clip .subbox .event{
    background-size: cover;
    width: 100%;
    height: 120px;
    margin-left: 0;
}
.news .clip .subbox > div:last-child > div > i{
    font-size: 1.8rem;
    margin: 0 5px 0 5px;
    padding-top: 10px;
}


/* hr part */
section.hr{
    background: url(../images/hr-bg.png) 20% 50% no-repeat;
}
.hr h2{
    font-size: 2rem;
    margin-bottom: 20px;
}
.hr .box{
    width: 93%;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 30px;
}
.hr .subbox.hrcircle{
    width: 130px;
    height: 130px;
    position: static;
}
.hr .subbox.hrcircle::after{
    display: none;
}
.hr .subbox.hrcircle span{
    font-size: 1.3rem;
}
.hr > a{
    display: block;
    width: 200px;
    font-size: 1.2rem;
    height: 40px;
    line-height: 40px;
}


/* footer */
.basicSwiper .swiper-slide.swiper-slide-active footer{
    animation: none;
}
footer{
    display: none;
}
footer.on{
    display: block;
}
.footarrow{
    display: block;
    font-size: 2.5rem;
    color: #fff;
    position: absolute;
    bottom: 1%;
    left: 45%;
    z-index: 1;
}
footer .button{
    display: block;
    font-size: 2rem;
    color: #fff;
    text-align: center;
}
footer{
    height: auto;
}
footer .inner{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
}
footer .inner > div:first-child a{
    display: none;
}
footer .inner .text div:nth-child(2) > p:first-child,
footer .inner .text div:nth-child(2) > p:nth-child(2){
    margin-bottom: 10px;
}
footer .inner .text div:last-child > p:nth-child(3) > span:first-child::after{
    display: none;
}
footer .inner .text div:last-child > p:nth-child(3){
    display: flex;
    flex-flow: column wrap;
}
footer .inner .contact::after{
    display: none;
}
footer .inner .contact > span:first-of-type{
    color: #c60d41;
    text-align: center;
    font-size: 1.2rem;
}
footer .inner .contact > span:nth-of-type(2){
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
}
footer .inner .contact > p{
    text-align: center;
}
footer .inner .contact{
    margin-top: 10px;
    margin-bottom: 10px;
}

